<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForceDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ForceDownloader.Properties.Settings>
            <setting name="url" serializeAs="String">
                <value />
            </setting>
            <setting name="appdata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lappdata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="docs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sname" serializeAs="String">
                <value />
            </setting>
            <setting name="icon" serializeAs="String">
                <value />
            </setting>
        </ForceDownloader.Properties.Settings>
    </userSettings>
</configuration>